@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Black.woff2') format('woff2'),
        url('../font/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Bold.woff2') format('woff2'),
        url('../font/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('../font/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('../font/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Gotham', 'Spoqa Han Sans Neo';
    color: #666;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

a{
    display: inline-block;
    
}

article, div {
    text-align: center;
}

footer {
    font-size: 0.7em;
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 0 20px;
    padding: 30px;
}

.logo {
    width: 90%;
    float: left;
    font-size: 40px;
}

.user_info {
    width: 10%;
    float: left;
    padding-top: 80px
}

.clear {
    clear: left;
}

table {
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-collapse: collapse;
    margin: 0px auto; 
}

.table_40 {
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-collapse: collapse;
    margin: 0px auto;
    width: 40%;
    font-size: 30px;
    margin-top: 150px;
}

.table_80 {
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    border-collapse: collapse;
    margin: 0px auto;
    width: 80%;
}
h1 {
    text-align: center;
    color: #1ecad3;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

aside {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 10;
}

.width_100 {
    width: 100%;
}

.width_height_100 {
    width: 100%;
    margin-bottom: 10%;
}

.height_50 {
    height: 50%;
    width: 100%;
}

.height_50p {
    height: 50px;
}

.image-text-box {
    position: relative;
}

.inner-text {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inner-text_70 {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.inner-text1 {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.inner-text2 {
    position: absolute;
    right: 0%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.inner-text3 {
    font-size: 20px;
    position: absolute;
    left: 25%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.btn-shape {
    margin: 0px auto;
    width: 400px;
    padding: 5px;
    background-color: #1ecad3;
    border-radius: 50px;
}

.btn-shape_1 {
    margin: 0px auto;
    width: 150px;
    padding: 5px;
    background-color: #1ecad3;
    border-radius: 50px;
}

.bigger-size-font {
    font-size: 1.5em;
    font-weight: bold;
}

.event-area {
    background: url('../img/bg1.png');
    width: 100%;
    height: 700px;
    background-size: 1200px;
    background-position: center bottom;
    position: relative;
}

.transparency-box {
    width: 100%;
    height: 100px;
}

.center-align {
    position: absolute;
    left: 20%;
    top: 40%;
}

.suffer {
    width: 300px;
    position: absolute;
    bottom: -50px;
    right: 20px;
}

.shop-box {
    display: inline-block;
    width: 48%;

}

.white-font {
    color: #fff;
}

.float-box {
    display: inline-block;
    margin: 10px;
    width: 23%;
    height: 70%;
}

.float-box-index {
    display: inline-block;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;

}

.color-box {
    position: relative;
    background-color: #1ecad3;
    width: 100%;
    height: 720px;
    text-align: center;
    font-size: 50px;
}

.letter1 {
    text-align: justify;
    margin-left: 370px;
}

#letter2 {
    text-align: left;
    margin-left: 370px;
}

.about_us_specialy {
    padding-top: 20%;
}

.about_us_specialy_8 {
    padding-top: 8%;
}

.nav-btn {
    background-color: rgba(30,205,214,0.5);
    width: 50px;
    height: 50px;
    border-radius: 50% 50%; 
}

.nav-gray-btn {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

footer div {
    text-align: left;
    margin-top: 50px;
}

#signin input[placeholder] {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: -1px 10px;
    width: 350px;
    padding: 10px;
    text-align: left;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.logo a:focus, .logo a:hover {
    text-decoration: none;
}

#signin button[type=submit] {
    border-radius: 0px;
    width: 360px;
    border: none;
    letter-spacing: 0.5em;
    font-size: 1.2em;
}


.checkbox-area {
    text-align: left;
    padding: 15px;
    margin-left: 600px;
}

.checkbox-area-join {
    text-align: left;
    padding: 15px;
    margin-left: 485px;
}

.align-right {
    display: inline-block;
    padding: 10px;
}


textarea {
    text-align: left;
}

#joinin button {
    border-radius: 0px;
    width: 100px;
    border: none;
    font-size: 1em;
}

.btn-shape-join {
    margin: 0px auto;
    width: 400px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 50px;
}

#signin {
    margin: 20px;
}

span {
    color:red;
}

fieldset{
    position: relative;
    top: 70%;
    left: 35%;
}

.shop-write {
    width:800;
    position: relative;
    top: 70%;
    left: 23%;
}

fieldset + fieldset {
    margin-top: 50px;
}

#product-registration label {
    display: inline-block;
    font-size: 15px;
    width: 110px;
}

.join-box {
    text-align: left;
    padding-left: 36%
}

.join-box-40 {
    text-align: left;
    padding-left: 38%
}


#bir_yy {
    vertical-align: middle;
    width: 100px;
    padding: 10px;
    margin-right: 2%;
}

#bir_mm {
    width: 100px;
    vertical-align: middle;
    padding: 10px;
    margin-right: 2%;
}

#bir_dd {
    width: 100px;
    vertical-align: middle;
    padding: 10px;
}


.slide {
    height:85%; overflow:hidden;
}
.slide ul{width:295%;display:flex;animation:slide 8s infinite;}
.slide li {width:40%; height: 100%;}

@keyframes slide {
    0% {margin-left: -1%;}
    15% {margin-left: -1%;}
    30% {margin-left:-100%;}
    45% {margin-left:-100%;}
    65% {margin-left: -199%}
    85% {margin-left: -199%;}
    100% {margin-left: -1%;}
}

.index-motion {animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;}

@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 20%;}
}